{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto"
}